menu "Qualia WiFi"
    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "YOUR_SSID"

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "YOUR_PASSWORD"
endmenu